<div class="row clearfix">
	<%= render partial: "admin/profile" %>
	<div class="col-md-9 column">
		<%= render partial: "admin/nav" %>

			<div class="span9">
				<a class="title">Nieuws</a>
			<%= link_to "Nieuwe items aanmaken", new_news_path %>
					<table class="table table-striped">
						<thead>
							<tr>
								<th><%= sortable("quality", "naam") %></th>
								<th><%= sortable("created_at", "datum") %></th>
							</tr>
						</thead>
						<tbody>
							<% for n in @news %>
								<tr>
									<td><%= n.title %></td>
									<td><%= simple_format n.content %></td>
									<td><%= q.created_at.to_formatted_s(:day_month_year) %></td>
									<td><%= link_to "aanpassen", edit_news_path(n) %></td>
									<td><%= link_to 'verwijderen', n, :confirm => 'Weet u het zeker?', :method => :delete %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
			</div>
			<div class="span3">
			</div>

	</div>
</div>