<div class="row clearfix">
	<%= render partial: "admin/profile" %>
	<div class="col-md-9 column">
		<%= render partial: "admin/nav" %>
		
		<div>
			
			<a class="title">Pagina's</a>
			
			<%= link_to "Nieuwe set paginas aanmaken", new_page_path %>
			
			<% @pages.each do |p| %>
							
			<div><a class="title">Paginaset <%= p.id %></a></div>
			<div>
				<h2>Veel gestelde vragen</h2>
				<p><%= simple_format p.faq %></p></div>
			<div>
				<h2>Algemene voorwaarden</h2>
				<p><%= simple_format p.terms %></p>
			</div>
			<div>
				<h2>Bedrijfsinformatie</h2>
				<p><%= simple_format p.company %></p></div>
			<div>
				<h2>Contactgegevens</h2>
				<p><%= simple_format p.contact %></p></div>
				
			<div><b><%= link_to "Paginaset bewerken", edit_page_path(p), :class => "button-medium left" %></b></div>
		<div><b><%= link_to "Paginaset verwijderen", p, :confirm => "Weet u het zeker?", :method => :delete, :class => "button-medium left" %></b></div>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
<div class="span3">
</div>

</div>
</div>