<div class="row clearfix">
	<%= render partial: "admin/profile" %>
	<div class="col-md-9 column">
		<%= render partial: "admin/nav" %>
		
			<div class="span12">
			<%= link_to "Nieuwe set paginas aanmaken", new_page_path %>
    		<a class="title">Pagina's</a>
			<table class="table table-striped">
				<thead>
					<tr>
						<th><%= sortable("faq", "Veel gestelde vragen") %></th>
						<th><%= sortable("terms", "Algemene voorwaarden") %></th>
						<th><%= sortable("company", "Bedrijfsinformatie") %></th>
						<th><%= sortable("contact", "Contactinformatie") %></th>
					</tr>
				</thead>
				<tbody>
					<% @pages.each do |p| %>
						<tr>
							<td><%= p.faq %></td>
							<td><%= p.terms %></td>
							<td><%= p.company %></td>
							<td><%= p.contact %></td>
				
							<td><%= link_to "Paginaset bewerken", edit_page_path(p) %></td>
							<td><%= link_to "Paginaset verwijderen", p, :confirm => "Weet u het zeker?", :method => :delete %></td>
						</tr>
				<% end %>
			</tbody>
		</table>
			</div>
			<div class="span3">
			</div>

	</div>
</div>