<div class="row clearfix">
	<%= render partial: "admin/profile" %>
	<div class="col-md-9 column">
		<%= render partial: "admin/nav" %>
		
		<div>
			<a class="title">Gebruikers</a>
			<h3>Werkzoekenden in wachtrij</h3>
			
			<table class="table">
				
					<tr>
						<th><%= sortable("first_name", "naam") %></th>
						<th><%= sortable("created_at", "naam") %></th>
					</tr>
					
				
					<% @openusers.each do |u| %>
						<tr>
							<td>Naam: <%= u.first_name %> <%= u.last_name %><br>
								Tel: <%= u.telephone_number %><br>
								Email: <%= u.email %></td>
							<td>	
							    <% if u.accepted? %>
							    	<p>status: actieve gebruiker</p>
							    <% else %>
							    	<p>status: in wachtrij</p>
								<% end %>
							</td>
							
							<td>
								<p>Gemeente: <%= u.municipal %><br>
								Contactgegevens: <%= u.municipal_contact %></p>
							</td>
				
							<td><%= link_to "Profiel bewerken", edit_user_path(u) %><br>
								<%= link_to "Verwijderen", u, :method => :delete, :confirm => "Weet u het zeker?" %></td>
						</tr>
				<% end %>
				
		</table>
		
		<div>
			<h3>Actieve werkzoekenden</h3>
			<table class="table table-striped">
				
					<tr>
						<th><%= sortable("first_name", "naam") %></th>
						<th><%= sortable("created_at", "naam") %></th>
					</tr>
				
					<% @acceptedusers.each do |u| %>
						<tr>
							<td>Naam: <%= u.first_name %> <%= u.last_name %><br>
								Tel: <%= u.telephone_number %><br>
								Email: <%= u.email %></td>
							<td>	
							    <% if u.accepted? %>
							    	<p>status: actieve gebruiker</p>
							    <% else %>
							    	<p>status: in wachtrij</p>
								<% end %>
							</td>
							
							<td>
								<p>Gemeente: <%= u.municipal %><br>
								Contactgegevens: <%= u.municipal_contact %></p>
							</td>
				
							<td><%= link_to "Profiel bewerken", edit_user_path(u) %><br>
								<%= link_to "Verwijderen", u, :method => :delete %></td>
						</tr>
				<% end %>
			
		</table>
		
		</div>
	</div>
</div>