<div class="row clearfix">
	<%= render partial: "admin/profile" %>
	<div class="col-md-10 column">
		<%= render partial: "admin/nav" %>
		
		<div>
			<h3>Werkzoekenden in wachtrij</h3>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th><%= sortable("first_name", "naam") %></th>
						<th><%= sortable("created_at", "naam") %></th>
					</tr>
				</thead>
				<tbody>
					<% @openusers.each do |u| %>
						<tr>
							<td>Naam: <%= u.first_name %> <%= u.last_name %><br>
								Tel: <%= u.telephone_number %><br>
								Email: <%= u.email %></td>
							<td>	
							    <% if u.accepted? %>
							    	<p>status: actieve gebruiker</p>
							    <% else %>
							    	<p>status: in wachtrij</p>
								<% end %>
							</td>
							
							<td>
								Gemeente: <%= u.municipal %>
							</td>
				
							<td><%= link_to "Profiel bewerken", edit_user_path(u) %><br>
								<%= link_to "Afmelden", signout_path, :method => :delete %></td>
						</tr>
				<% end %>
			</tbody>
		</table>
		
		<div>
			<h3>Actieve werkzoekenden</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th><%= sortable("first_name", "naam") %></th>
						<th><%= sortable("created_at", "naam") %></th>
					</tr>
				</thead>
				<tbody>
					<% @acceptedusers.each do |u| %>
						<tr>
							<td>Naam: <%= u.first_name %> <%= u.last_name %><br>
								Tel: <%= u.telephone_number %><br>
								Email: <%= u.email %></td>
							<td>	
							    <% if u.accepted? %>
							    	<p>status: actieve gebruiker</p>
							    <% else %>
							    	<p>status: in wachtrij</p>
								<% end %>
							</td>
							
							<td>
								Gemeente: <%= u.municipal %>
							</td>
				
							<td><%= link_to "Profiel bewerken", edit_user_path(u) %><br>
								<%= link_to "Afmelden", signout_path, :method => :delete %></td>
						</tr>
				<% end %>
			</tbody>
		</table>
		
		</div>
	</div>
</div>