<div class="row clearfix">
    <%= render partial: "admin/profile" %>
    <div class="col-md-10 column">
        <%= render partial: "admin/nav" %>
		<div class="matchbar_710">
			<div class="match">
			</div>
			<div class="matchbar_710BG">
			</div>
		</div>
		
		<%= link_to "Nieuwe vacature aanmaken", new_vacancy_path %>
		<table class="vacancies">
			<div class = "sort">
				<b><%= sortable("title", "naam") %></b>
				<b><%= sortable("created_at", "datum") %></b>
				<b><%= sortable("description", "aanbevolen") if !current_user.admin? %></b>
			</div>
			<% for v in @vacancies %>
				<div>
					<%= link_to v.title, v %> | <%= v.address %>
					<%= v.created_at.to_formatted_s(:day_month_year) %>
					<b>gereageerd: <%= v.users.count %>x</b>
					<%= link_to "aanpassen", edit_vacancy_path(v) %>
					<%= link_to 'verwijderen', v, :confirm => 'Weet u het zeker?', :method => :delete %> <br><br>
				</div>
			<% end %>
		</table>
	</div>
</div>
