<div class="row clearfix">
	<%= render partial: "admin/profile" %>
	<div class="col-md-9 column">
		<%= render partial: "admin/nav" %>
        
		<a class="title">Vacature wijzigen</a>

                <%= form_for(@vacancy)  do |n| %>
				
				<%= n.label :name,  "Bedrijfsnaam" %>
                <%= n.text_field :name, :placeholder => "Bedrijfsnaam" %>
                <br>
				<%= n.label :title,  "Vacature titel" %>
                <%= n.text_field :title, :placeholder => "Vacature titel" %>
                <br>
				<%= n.label :description, "Vacature omschrijving" %>
                <%= n.text_field :description, :placeholder => "Vacature omschrijving", :class => "form-control", :required => "required" %>
                <br>
				<%= n.label :requirements, "Functieeisen" %>
                <%= n.text_field :requirements, :placeholder => "Functie omschrijving", :class => "form-control", :required => "required" %>
                <br>
				<%= n.label :address, "Plaats" %>
                <%= n.text_field :address, :placeholder => "Plaats", :class => "form-control", :required => "required" %>
               
			   <%= n.submit %>
			   
			   <%= link_to_function "Back", "history.back()" %>
        <% end %> 
        </div>
</div>



	</div>
</div>