<!-- Voorbeeld vacature -->
<div id="content_right">
    <% @vacancies.each do |v| %>
    <div class="box_710px">
        <div class="title"><%= link_to v.title, v %><a class="right"> </a>
        </div>
        <div class="matchbar_710">
            <div class="match">
            </div>
            <div class="matchbar_710BG">
            </div>
            <label>50% match</label>
        </div>
        <p><%= v.name %></p>
            <table class="requirements"></table>

           <div class="box_710px">
                    <%=link_to "bekijk vacature", v %>
                        <div class="ch-item ch-img-1">              
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front "><h3>Bekijk vacature</h3></div>
                                    <div class="ch-info-back ">
                                        <h3>Vacature informatie</h3>
                                    </div>  
                                </div>
                            </div>
                        </div>
    </div>        

    <%= form_for(@user) do |f| %>   
        <%= select_tag(:vacancy_id, options_for_select(@vacancies.collect{|v| [v.id] }.sort_by { |e| }), {:multiple => true, class: 'chosen-vacancy-select'}) %>
        <%= f.submit %>
        <li><%= link_to "Vacature instellingen", edit_vacancy_path(v) %></li>
    <% end %>
</div>
    <img class="picture" src="assets/clients/Jack Daniels/dummy1.jpg">
    <img class="picture" src="assets/clients/Jack Daniels/dummy2.jpg">
    <img class="picture" src="assets/clients/Jack Daniels/dummy3.jpg">
</div>
<!-- END VACATURE -->
<!-- FLIP EFFECT -->
<div class="container">
          
        </div>
<!-- END FLIP EFFECT -->
<% end %>