<div class="row clearfix">
    <%= render partial: "users/profile" %>
    <div class="col-md-9 column">
        <%= render partial: "users/nav" %>
		<div class="box">
			<a class="title">Alle vacatures</a>
			<table class="table">
					<th class="sort"><%= sortable("title", "naam") %> &amp; <%= sortable("address", "plaats") %></th>
					<th>afstand</th>
					<th><%= sortable("created_at", "datum")%></th>
					<th><%= sortable("@matchscore[@vacancy]", "aanbevolen") %></th>
					<th></th>
				<% for v in @vacancies %>
				<div>
					<tbody>
						<tr>
							<td><%= v.title %> | <%= v.address %></td>
							<td><% if current_user.latitude != nil %>
								<b><%= v.distance_from([current_user.latitude, current_user.longitude]).to_f.round %> km</b>
							<% else %>
								<b>U heeft nog geen plaats ingevuld</b><br>
							<% end %></td>
							<td><%= v.created_at.to_formatted_s(:day_month_year) %></td>
							<td class="progress_bar_table">
								<div class="progress_bar">
									<div class="progress_bar_label">
										<b><%= @matchscore[v].round %>%</b>
									</div>
									<%= progress_bar(@matchscore[v]) %>   
								</div>

							</td>
						</tr>	
						<tr>
							<td colspan="3"><%= v.description %></td>
							<td><a class="button-small right"<%= link_to 'Bekijk', vacancy_path(v) %></td>
						</tr>
					</tbody>
				</div>
			<% end %>
			</table>
		</div>
	</div>
</div>

