<div class="matchbar_710">
<div class="match">
</div>
<div class="matchbar_710BG">
</div>
<label>50% match</label>
</div>
<div class="box_710px">
<%= form_for(current_user) do |f| %>
<%= select_tag(:vacancy_id, options_for_select(@vacancies.collect{|v| [v.title, v.id] }), {:multiple => true, class: 'chosen-vacancy-select'}) %>
<%= f.submit "Toevoegen" %>
<% end %>
<div class="ch-item ch-img-1">
<div class="ch-info">
<div class="ch-info-back">
<% @vacancies.each do |v| %>
<h3><%= link_to v.title, v %></h3>
<p><%= link_to "Vacature instellingen", edit_vacancy_path(v) %></p>
<% end %>
</div>
</div>
</div>
</div>
