<div class="row clearfix">
    <%= render partial: "users/profile" %>
    <div class="col-md-10 column">
        <%= render partial: "users/nav" %>
		<div class="matchbar_710">
			<div class="match">
			</div>
			<div class="matchbar_710BG">
			</div>
		</div>
		<table class="vacancies">
			<div class = "sort">
				<b><%= sortable("title", "naam") %></b>
				<b><%= sortable("created_at", "datum") %></b>
				<b><%= sortable("description", "aanbevolen") if !current_user.admin? %></b>
			</div>
			<% for v in @vacancies %>
				<div>
					<h3><%= link_to v.title, v %> | <%= v.address %> </h3>
					
					<% if current_user.latitude != nil %>
						<b><%= v.distance_from([current_user.latitude, current_user.longitude]).to_f.round %> km</b><br>
					<% else %>
						<b>U heeft nog geen plaats ingevuld</b><br>
					<% end %>
					<%= v.created_at.to_formatted_s(:day_month_year) %><br>
					Matchscore: <%= @matchscore[v] if !current_user.admin? %>%<br>
			
    
					<b>Bijpassende kwaliteiten: </b><% if @matchingqualities[v].count == 0 %>GEEN<% end %>
		    		<%= @matchingqualities[v].map(&:inspect).join(', ').gsub('"', '') %></p>
			
				</div>
			<% end %>
		</table>
	</div>
</div>
