<div class="row clearfix">
    <%= render partial: "users/profile" %>
    <div class="col-md-10 column">
        <%= render partial: "users/nav" %>


<div class="content-right">
	<div class="box_710px">
		<h1><%= @vacancy.title %> | <%= @vacancy.address %></h1><br>
		
		<b>Geplaatst op: </b><%= @vacancy.created_at %><br>
		<% if current_user.latitude != nil %>
			<b>Afstand: </b><%= @vacancy.distance_from([current_user.latitude, current_user.longitude]).to_f.round %> km<br>
		<% else %>
			<b>U heeft nog geen plaats ingevuld</b>
		<% end %>
		
		<p><%= @vacancy.description %></p><br><br>
		
		<%= link_to 'Reageren op deze vacature', :confirm => ("Weet u zeker dat u wilt reageren op: " + @vacancy.title.to_s + "?"), :controller => "vacancies", :action => "apply_to_vacancy" %>
	</div>
</div>

	</div>
</div>
	
