<div class="row clearfix">
	<%= render partial: "profile" %>
	<div class="col-md-9 column">
		<%= render partial: "nav" %>

		<div class="row clearfix">
			<div class="col-md-12 column">
				<h3>Hier vindt u alle vacatures waarop u gereageerd heeft</h3>
			</div>
		</div>
		<div class="row">
			<a class="title">Uw reacties</a>
			
			<table class="table table-striped">
				<thead>
					<th><%= sortable("title", "naam") %></th>
					<th><%= sortable("description", "omschrijving")%></th>
				</thead>
				<tbody>
					<% @user.vacancies.each do |v| %>
						<tr>
							<td><%= link_to v.title, v %></td>
							<td><%= v.description %></td>
							<td><% @user.user_vacancies.where(user_id: @user.id, vacancy_id: v.id).each do |uv| %>
									<%= uv.created_at.to_formatted_s(:day_month_year) %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>