
<div class="row clearfix">
	<%= render partial: "profile" %>
	<div class="col-md-9 column">
		<%= render partial: "nav" %>
		
		<a class="edittitle">Wijzig gegevens</a>

		<p>* = verplicht</p>

		<%= form_for @user do |f| %>
         
		 
		<div id="tabs">
			<ul>
				<li><a href="#fragment-1">Persoonsgegevens</a></li>
				<li><a href="#fragment-2">Profielfoto</a></li>
				<li><a href="#fragment-3">Kwaliteiten</a></li>
				<li><a href="#fragment-4">CV</a></li>
			</ul>     
			<div id="fragment-1"><h3>Mijn persoonsgegevens</h3>
				<div class = "field">
					<%= f.label "Voornaam*" %><br>
					<%= f.text_field :first_name %>
				</div>

				<div class = "field">
					<%= f.label "Achternaam*" %><br>
					<%= f.text_field :last_name %>
				</div>

				<div class = "field">
					<%= f.label "Geslacht" %><br>
					<%= f.text_field :gender %>
				</div>

				<div class = "field">
					<%= f.label "Email adres*" %><br>
					<%= f.text_field :email %>
				</div>
				
				<div class = "field">
					<%= f.label "Telefoonnummer" %><br>
					<%= f.text_field :telephone_number %>
				</div>

				<div class = "field">
					<%= f.label "Adres / Postcode" %><br>
					<%= f.text_field :address %>
				</div>

				<div class = "field">
					<%= f.label "Gemeente" %><br>
					<%= f.text_field :municipal %>
				</div>
		
				<div class = "field">
					<%= f.label "Contactgegevens gemeente" %><br>
					<%= f.text_field :municipal_contact %>
				</div>
				
				<div class = "field">
					<%= f.label "Wachtwoord*" %><br>
					<%= f.password_field :password %>
				</div>

				<div class = "field">
					<%= f.label "Bevestig wachtwoord*" %><br>
					<%= f.password_field :password_confirmation %>
				</div>
			
				<% if current_user.admin? %> 
				<div class = "field">
					<%= f.label "Geaccepteerde gebruiker" %><br>
					<%= f.check_box :accepted %>
				</div>
				<% end %>
			</div>
		
			<div id="fragment-2">
				<h3>Mijn profielfoto</h3>
				<%= image_tag(image_user_path(@user), :alt => "Profielfoto", :style => "width: 300px; height: 300px;") if @user.image? %>
				<div class = "field">
					<%= f.label "Huidige profielfoto aanpassen" %>
					
					<%= f.file_field :image %><br><br>
				</div>
				<% if @user.image? %>
				<div class = "field">
					<%= link_to "Foto verwijderen", remove_image_user_path(@user), :confirm => "Weet je het zeker?", :class => "button-medium left" %>
				</div>
				<% end %>
			</div>
		
			<div id="fragment-3"> 
				<h3>Mijn kwaliteiten</h3>
				<div class = "field">
					<%= f.label "Selecteer kwaliteiten" %>
					<%= select_tag(:quality_id, options_for_select(@qualities.collect{ |q| [q.quality, q.id] }, @defaultqualities.map{ |dq| dq.id }) ,{:multiple => true,  class: 'chosen-quality-select'}) %>
				</div>
			</div>
			
			<div id="fragment-4">
				<h3>Mijn cv</h3>
				<div class = "field">
					<%= f.label "Cv plaatsen" %><br>
					<%= f.file_field :cv %>
				</div>
			  	
				<% if @user.cv? %>
				<div class = "field">
					<%= link_to "CV verwijderen", remove_cv_user_path(@user), :confirm => "Weet je het zeker?", :class => "button-medium left" %><br><br><br>
				</div>

				
				<div class = "field">
					<%= link_to 'Download CV', download_cv_user_path(@user), :class => "button-medium left" %><br><br>
				</div>
				<% end %>
			</div>
			<%= f.submit "Aanpassen", class: "btn btn-large btn-warning" %>
			<% end %>
		</div>
	</div>
	
	<script>$( "#tabs" ).tabs();</script>