<div class="row clearfix">
	<%= render partial: "users/profile" %>
	<div class="col-md-10 column">
		<%= render partial: "users/nav" %>
		
		<div class="col-md-2 column">
			<div class="row">
				<ul>
					<% @users.each do |u| %>
					<li><%= u.first_name %></li>
					<li><%= u.last_name %></li><br>
					<li><%= link_to "Profiel bewerken", edit_user_path(u) %></li><br>
					<li><%= link_to "Afmelden", signout_path, :method => :delete %></li>
					<% end %>
				</ul>
			</div>
		</div>
            
     
		<div class="col-md-12 column">
			<div class="matchbar_710">
				<div class="match">
				</div>
				<div class="matchbar_710BG">
				</div>
				<label>50% match</label>
				<% render template: "vacancies/index.html.erb" %>
			</div>
		</div>
	</div>
</div>