<div class="row clearfix">
	<%= render partial: "users/profile" %>
	<div class="col-md-9 column">
		<%= render partial: "users/nav" %>
		
		<div>
			<h3>Niet geaccepteerde gebruikers</h3>
			<ul>
				<% @openusers.each do |u| %>
				<li><%= u.first_name %></li>
				<li><%= u.last_name %></li><br>
				
			    <% if u.accepted? %>
			    	<li><p>status: geaccepteerde gebruiker</p></li>
			    <% else %>
			    	<li><p>status: nog niet geaccepteerde gebruiker</p></li>
				<% end %>
				
				<li><%= link_to "Profiel bewerken", edit_user_path(u) %></li><br>
				<li><%= link_to "Afmelden", signout_path, :method => :delete %></li>
				<% end %>
			</ul>
		</div>
		
		<div>
			<h3>Geaccepteerde gebruikers</h3>
			<ul>
				<% @acceptedusers.each do |u| %>
				<li><%= u.first_name %></li>
				<li><%= u.last_name %></li><br>
				
			    <% if u.accepted? %>
			    	<li><p>status: geaccepteerde gebruiker</p></li>
			    <% else %>
			    	<li><p>status: nog niet geaccepteerde gebruiker</p></li>
				<% end %>
				
				<li><%= link_to "Profiel bewerken", edit_user_path(u) %></li><br>
				<li><%= link_to "Afmelden", signout_path, :method => :delete %></li>
				<% end %>
			</ul>
		</div>
		
		
		<div>
			<h3>Alle gebruikers</h3>
			<ul>
				<% @users.each do |u| %>
				<li><%= u.first_name %></li>
				<li><%= u.last_name %></li><br>
				
			    <% if u.accepted? %>
			    	<li><p>status: geaccepteerde gebruiker</p></li>
			    <% else %>
			    	<li><p>status: nog niet geaccepteerde gebruiker</p></li>
				<% end %>
				
				<li><%= link_to "Profiel bewerken", edit_user_path(u) %></li><br>
				<li><%= link_to "Afmelden", signout_path, :method => :delete %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
