<div class="container">
	<div class="col-md-9 col-md-offset-2">
		<h1>Maakerwerkvan.nl</h1>
	</div>
    <div class="row">
		<div class="col-md-9 col-md-offset-2">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<a class="title">Registreer</a>
			 	</div>
				<p>* = verplicht</p>
				<%= form_for @user, :html => {:multipart => true}  do |f| %>
	  
				<h3>Mijn persoonsgegevens</h3>
				<div class = "field">
					<%= f.label "Voornaam*" %><br>
					<%= f.text_field :first_name, :placeholder => "voornaam" %>
				</div>

				<div class = "field">
					<%= f.label "Achternaam*" %><br>
					<%= f.text_field :last_name, :placeholder => "achternaam" %>
				</div>

				<div class = "field">
					<%= f.label "Geslacht" %><br>
					<%= f.text_field :gender, :placeholder => "man/vrouw" %>
				</div>

				<div class = "field">
					<%= f.label "Email adres*" %><br>
					<%= f.text_field :email, :placeholder => "uw@email.nl" %>
				</div>
	  
				<div class = "field">
					<%= f.label "Wachtwoord*" %><br>
					<%= f.password_field :password%>
				</div>

				<div class = "field">
					<%= f.label "Bevestig wachtwoord*" %><br>
					<%= f.password_field :password_confirmation %>
				</div>
      
				<div class = "field">
					<%= f.label "Adres" %><br>
					<%= f.text_field :address, :placeholder => "bv. Rengerslaan 10, Leeuwarden" %>
				</div>
	
				<div class = "field">
					<%= f.label "Telefoonnummer" %><br>
					<%= f.text_field :telephone_number, :placeholder => "telefoonnummer" %>
				</div>

				<div class = "field">
					<%= f.label "Gemeente" %><br>
					<%= f.text_field :municipal, :placeholder => "Gemeente" %>
				</div>
	
				<div class = "field">
					<%= f.label "Contactgegevens gemeente" %><br>
					<%= f.text_field :municipal_contact, :placeholder => "bv. Jan de Vries, 06-12345678" %>
				</div>

				<h3>Mijn cv</h3>
				<div class = "field">
					<%= f.label "Cv plaatsen" %><br>
					<%= f.file_field :cv %>
				</div>

				<h3>Mijn kwaliteiten</h3>
				<div class = "field">
					<%= f.label "Selecteer kwaliteiten" %>
					<%= select_tag(:quality_id, options_for_select(@qualities.collect{ |q| [q.quality, q.id] }), {:multiple => true,  class: 'chosen-quality-select'}) %>
				</div>

				<h3>Profielfoto</h3>
				<div class = "field">
				<%= f.label "Profielfoto uploaden" %>
				<%= f.file_field :image %><br>

				<%= f.submit "Registreren"  %>
				<% end %>
			</div>
		</div>
	</div>
</div>