<div class="box_710px">
	<h1>Registreer</h1>

	<%= form_for @user, :html => {:multipart => true}  do |f| %>
	  
	<h3>Mijn persoonsgegevens</h3>
	<div class = "field">
		<%= f.label "Voornaam" %><br>
		<%= f.text_field :first_name %>
	</div>

	<div class = "field">
		<%= f.label "Achternaam" %><br>
		<%= f.text_field :last_name %>
	</div>

	<div class = "field">
		<%= f.label "Geslacht" %><br>
		<%= f.text_field :gender %>
	</div>

	<div class = "field">
		<%= f.label "Email adres" %><br>
		<%= f.text_field :email %>
	</div>
	  
	<div class = "field">
		<%= f.label "Wachtwoord" %>
		<%= f.password_field :password %>
	</div>

	<div class = "field">
		<%= f.label "Bevestig wachtwoord" %>
		<%= f.password_field :password_confirmation %>
	</div>
      
	<div class = "field">
		<%= f.label "Adres" %><br>
		<%= f.text_field :address %>
	</div>

	<div class = "field">
		<%= f.label "Gemeente" %><br>
		<%= f.text_field :municipal %>
	</div>

	<h3>Mijn cv</h3>
	<div class = "field">
		<%= f.label "Cv plaatsen" %><br>
		<%= f.file_field :cv %>
	</div>

	<h3>Mijn kwaliteiten</h3>
	<div class = "field">
		<%= f.label "Selecteer kwaliteiten" %>
		<%= select_tag(:quality_id, options_for_select(@qualities.collect{ |q| [q.quality, q.id] }), {:multiple => true,  class: 'chosen-quality-select'}) %>
	</div>

	<h3>Profielfoto</h3>
	<div class = "field">
	<%= f.label "Profielfoto uploaden" %>
	<%= f.file_field :image %><br>

	<%= f.submit "Registreren"  %>
	<% end %>