<div class="row clearfix">
    <%= render partial: "profile" %>
    <div class="col-md-9 column">
        <%= render partial: "nav" %>
        <div class="row clearfix">
                <div class="box">
                    <a class="title"> Mededelingen</a>
                    Welkom <%= current_user.first_name %> <%= current_user.last_name %>
                    <br/><br/>
                </div>
        </div>
		
        <div class="row">
                <div class="box">
                    <a class="title">Nieuwste aanbevolen vacatures</a>
                    <% @vacancies.recent_vacancies.limit(3).each do |va| %>
                        <div class="col-md-4">
                            
							<%= link_to va do %>
								<h1><%= va.title %> | <%= va.address %></h1>
							<% end %>
							
							<div class="progress_bar">
								<div class="progress_bar_label">
									<b><%= @matchscore[va].round %>%</b>
								</div>
								<%= progress_bar(@matchscore[va]) %>   
							</div>
                            
                   			<p><%= va.description %></p>					 							
							<p><%=va.created_at.to_formatted_s(:day_month_year) %> <br>
					
					<% if @user.latitude != nil %>
                  	  <b><%= va.distance_from([@user.latitude, @user.longitude]).to_f.round %> km</b><br>
					<% else %>
						<b>Gebruiker heeft geen plaats opgegeven</b><br>
					<% end %>
				</p>            
                </div>
			<% end %>	
        </div>
        <div class="row clearfix row_news">
            <div class="box news">
                <a class="title">Laatste nieuws</a>
                
                <table class="table">
					<% @news.each do |n| %>
                    <tr>
                        <td class="col-md-3">
                            <img> </img>
                        </td>  
                        <td class="col-md-9">
                            <h1><%= n.title %></h1>
                            <p><%= n.content %>
                            </p>
                         
                               <%= link_to 'Lees meer', n, :class => "button-medium" %>
                        </td>
                    </tr>
					<% end %>
                </table>

            </div>
        </div>
    </div>
</div>