<div class="row clearfix">
    <%= render partial: "users/profile" %>
    <div class="col-md-10 column">
        <%= render partial: "users/nav" %>

<% for n in @news %>
	<h1><%= n.title %></h1>
	<b><%= n.created_at %></b>
	<%
		str = n.content
		first_100_words = str.split(" ").first(100).join(" ")
	%>

	<p><%= first_100_words %>...</p>
	
	<%= link_to 'Lees meer', news_path(n) %> | <%= link_to 'Bericht verwijderen', n, :confirm => 'Weet u het zeker?', :method => :delete %>
<% end %>

	</div>
</div>