<div class="row clearfix">
    <%= render partial: "users/profile" %>
    <div class="col-md-9 column">


	        <%= render partial: "users/nav" %>
    	<div class="box">
    		<a class="title">Nieuws</a>
	    	<table class="table">
				<% for n in @news %>
					<tr>
						<td class="col-md-2">
			            	<img> </img>
			        	</td> 

			        	<td class="col-md-10">
							<h1><%= n.title %></h1>
							<p><%= n.created_at.to_formatted_s(:day_month_year) %></p>
							<%
								str = n.content
								first_100_words = str.split(" ").first(100).join(" ")
							%>

							<p><%= first_100_words %>...</p>
							
							<%= link_to 'Lees meer', n, :class => "button-medium" %>
                     		   	
                            </a>
						</td>

			    	</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
