<div class="row clearfix">
    <%= render partial: "users/profile" %>
    <div class="col-md-9 column">
        <%= render partial: "users/nav" %>
		
	<div class="content-right">
		<div class="box_710px">
	<h1><%= @news.title %></h1><br>
	<%= @news.created_at %><br>
	<p><%= simple_format @news.content %></p><br>
</div>
</div>

</div>
</div>

	
