<div class="row clearfix">
	<%= render partial: "admin/profile" %>
	<div class="col-md-9 column">
		<%= render partial: "admin/nav" %>

		<div class="panel panel-primary">
		        <div class="panel-heading">
		        	Pagina's aanmaken
		        </div>
		        <div class="panel-body">
		               <%= form_for(@page) do |p| %>

			               <%= p.text_area :faq, :placeholder => "Veelgestelde vragen" %>
						   <%= p.text_area :terms, :placeholder => "Algemene voorwaarden" %>
						   <%= p.text_area :company, :placeholder => "Informatie over het bedrijf" %>
						   <%= p.text_area :contact, :placeholder => "Contactgegevens" %>

						   <%= p.submit "Opslaan" %>
		        	   <% end %> 
		        </div>
		</div>
	</div>
</div>

